:root {
  --red: #b8233e
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100%;
  width: 100%;
  background-size: 100%;
  color: white;
  font-size: 18px;
  position: relative;
}

body:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, rgba(0, 0, 0, 0.3), transparent);
  background-color: var(--red);
  opacity: 1;
}

body > * {
  z-index: 1;
}

.container {
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portrait {
  width: 150px;
  height: 150px;
  display: inline-block;
  border-radius: 50%;
  margin: 30px;
  background-image: url(/img/portrait.png);
  background-size: cover;
  box-shadow: inset 0 0 5px 1px rgba(255,255,255,.3), 0 0 2px 1px rgba(0, 0, 0, .2), 0 6px 10px rgba(0, 0, 0, .3);
}

.name {
  font-weight: 600;
  line-height: 1.5;
  font-size: 1.6rem;
  letter-spacing: 1px;
  transition-duration: 1s;
  transition-delay: 0s;
}



.title {
  line-height: 1.4;
  font-weight: 400;
  font-size: 1rem;
  transition-duration: .75s;
  transition-delay: .5s;
}

.name, .title {
  text-shadow: 0 1px 1px rgba(0, 0, 0, .1),
  0 2px 3px rgba(0, 0, 0, .3);
}

:not(.noscript) .with-mask-anim {
  -webkit-mask-image: linear-gradient(to left, transparent 60%, black 75%);
  mask-image: linear-gradient(to left, transparent 60%, black 75%);
  -webkit-mask-position: -300px 0px;
  mask-position: -300px 0px;
  -webkit-mask-size: 310%;
  mask-size: 310%;
  transition-property: all;
  transition-timing-function: ease-out;
}

:not(.noscript) .with-mask-anim.show {
  -webkit-mask-position: 0 0px;
  -webkit-mask-size: 400%;
}